body{
    padding-top: 10%;
    text-align: center;
    background-color: rgb(10, 21, 36);
    color: mintcream;
    

 
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.jumbotron{
    background-color: rgb(24, 42, 68);
}

.col-md-6{
    text-align: left;
}